footer{
	display: flex;
	background: black;
	height:10%;
	justify-content: space-around;
	flex-wrap: wrap;
	
}
.footer__copyright{
	color: white;
	text-align: center;
	align-self: center;
	font-size: 10pt;
	margin-left:5vw;
}
.footer__social{
	display: flex;
	align-items: center;
	margin-right:13
	
}
.footer__icono{
	max-width:4vw;
	max-height:4vh;
	margin:0 1vw 0 1vw;
	cursor: pointer;
}

.footer__icon:nth-child(4){
	margin-right:10vw;
}
