footer{
	display: flex;
	background: black;
	height:10%;
	/* justify-content: space-around; */
	flex-wrap: wrap;
	
}
.footer__copyright{
	color: white;
	text-align: center;
	align-self: center;
	font-size: 10pt;
	margin-left:20vw;
}
.footer__social{
	display: flex;
	align-items: center;
	margin-left:25vw;
	
	
}
.footer__icono{
	max-width:4vw;
	max-height:4vh;
	margin:0 1vw 0 1vw;
	cursor: pointer;
}
@media only screen and (max-device-width: 768px){
	.footer__icono{
		max-width:8vw;
		max-height:8vh;
		 /* margin:0 6vw 0 2vw; */
		 align-items: center; 
		 margin-left: 6vw;	 
	} 
	.footer__social{
		display: flex;
		flex-direction: row;
		margin-left:18vw;
		
		
	}
	.footer__copyright{
		text-align: center;
		align-self: center;
		margin-left: 15vw;
	}
	/* .footer__icono:nth-child(0){
		margin-left: 1vw;
	} */
}