.ropa{
	background: url(../img/seccion_fondo.jpg) no-repeat;
	background-size:cover;
	background-position: center;
	width: 100%;
	height: auto;
}
.kids__contenedor{
	display: flex;
	flex:row;
	justify-content: space-around;
}
.kids__titulo {
	color:#2b3e4f;
	font-size: 2.7vw;
	text-transform: uppercase;
	margin: 15vh auto;
	text-align: center;
	height:20px;
	/* Este era el problema por el que en mi vista de movil el texto se veía encima de mi menú */
	/* position: absolute;
	left: 45%; */
	font-family: 'Maven Pro', sans-serif;
	
}
.kids__imagen{
	margin-top: 13vh;
	height:505.5px; 
	width: 600px;
	order: 1;
	margin-left:7vw;
	padding-top: 5vh;
}
.kids__texto{
	order:3;
	margin-top: 35vh;
	text-align: center;
	color: black;
	width: 25%;
	line-height: 1.6;
	font-size: 1.6vw;
}
span.kids{
	color:black;
	font-family: 'Pacifico', cursive;
	font-size: 1.6vw;

}



/* estilos moviles 2.0 */
@media only screen and (max-device-width: 768px){
.kids__contenedor{
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: 0 auto;
	height: auto;
}
.kids__titulo{
	order: 1;
	font-size: 24pt;
	margin: 10% 0;

}
.kids__imagen{
	width: 100%;
	height:auto; 
	margin:0 0 10% 0;
	padding: 0;
	order:2;
}
.kids__texto{
	order: 3;
	width: 100%;
	height: auto;
	font-size: 14pt;
	margin: 0;
	margin: 0 0 10% 0;
}

span.kids{
	font-size: 16pt;
}


}

